.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.nav-wrap {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  position: fixed;
}

a {
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #a7a7a7;
}

img {
  width: 20rem;
  height: 22rem;
  border-radius: 50%;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-top: 8rem;
}

.descr {
  color: antiquewhite;
  font-size: 30px;
  animation-name: motion;
  animation-duration: 3s;
}

.items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 8rem;
  color: aliceblue;
  line-height: 1.5rem;
}
p {
  font-size: 20px;
}

.employment-wrap {
  margin-top: 5rem;
  text-align: center;
  width: 50%;
  animation-name: animate;
  animation-duration: 3s;
  animation-delay: 0.3s;
}

.contact-container {
  text-align: center;
  margin-top: 8rem;
  color: aliceblue;
  animation-name: animate;
  animation-duration: 3s;
  animation-delay: 0.3s;
}

.descr-me {
  text-align: center;
  animation-name: animate;
  animation-duration: 3s;
  animation-delay: 0.3s;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes animate {
  0% {
    display: none;
    transform: translateX(-100%);
  }
  50% {
    display: block;
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes motion {
  0% {
    display: none;
    transform: translateY(-50%);
  }
  100% {
    display: block;
    transform: translateY(0%);
  }
}
